<IfModule mod_fcgid.c>
	AddHandler fcgid-script .fcgi
</IfModule>

Options +FollowSymLinks +ExecCGI 
RewriteEngine On 
RewriteRule ^$ index.html [QSA] 
RewriteRule ^([^.]+)$ $1.html [QSA] 
RewriteCond %{REQUEST_FILENAME} !-f 

<IfModule mod_fcgid.c> 
	RewriteRule ^(.*)$ dispatch.fcgi [QSA,L] 
</IfModule> 
ErrorDocument 500 "<h2>Application error</h2>Rails application failed to start properly"

